.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #222831;
    padding: 20px;
  }
  
  .profile-card {
    width: 500px;
    padding: 30px;
    background: #393E46;
    color: #EEEEEE;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 173, 181, 0.3);
    transition: 0.3s;
  }
  
  .profile-card h2 {
    color: #00ADB5;
  }
  
  .profile-card input {
    background: #EEEEEE;
    border: 1px solid #00ADB5;
    color: #222831;
    transition: 0.3s;
  }
  
  .profile-card input:focus {
    border-color: #00ADB5;
    box-shadow: 0 0 5px rgba(0, 173, 181, 0.5);
  }
  
  .btn-primary {
    background-color: #00ADB5;
    border: none;
    transition: 0.3s;
  }
  
  .btn-primary:hover {
    background-color: #007F8B;
  }
  
  .btn-danger {
    background-color: #FF4C29;
    border: none;
    transition: 0.3s;
  }
  
  .btn-danger:hover {
    background-color: #FF2C00;
  }

  p{
    font-size: large;
  }
  