<div class="polls-app">
  <div class="glass-container">
    <header class="app-header">
      <div class="logo">
        <i class="fas fa-vote-yea"></i>
        <h1>Pollify</h1>
      </div>
      <div class="page-indicator" *ngIf="allPolls.length > 0">
        <span class="current">{{ currentPage }}</span>
        <span class="total">/{{ totalPages }}</span>
      </div>
    </header>

    <div class="no-polls-message" *ngIf="allPolls.length === 0">
      <i class="fas fa-info-circle"></i>
      <h3>No active polls available</h3>
      <p>
        There are currently no active polls to display. Check back later or
        create a new poll!
      </p>
    </div>

    
      <div class="poll-grid">
        <ng-container *ngFor="let poll of displayedPolls">
          <div class="poll-card">
            <div class="card-header">
              <div
                class="poll-type"
                [ngClass]="{
                  multi: poll.allowMultiple,
                  single: !poll.allowMultiple
                }"
              >
                {{ poll.allowMultiple ? "MULTIPLE" : "SINGLE" }}
              </div>
              <h2 class="question">{{ poll.question }}</h2>
              <div class="poll-meta">
                <span><i class="fas fa-user-edit"></i> {{ poll.createdBy }}</span>
                <span
                  ><i class="fas fa-hourglass-half"></i>
                  {{ poll.expiryDate }}</span
                >
              </div>
            </div>
    
            <!-- Multiple Choice Options -->
            <ng-container *ngIf="poll.allowMultiple">
              <div
                *ngFor="
                  let option of poll.options;
                  let i = index;
                  trackBy: trackByOption
                "
                class="option"
              >
                <label>
                  <input
                    type="checkbox"
                    [name]="'poll_' + poll._id"
                    [(ngModel)]="poll.selectedOptions![i]"
                    [disabled]="poll.userVoted"
                  />
                  <span class="custom-control"></span>
                  <span class="option-text">{{ option.optionText }}</span>
                  <span *ngIf="poll.userVoted && poll.selectedOptions![i]" class="selected-indicator">
                    <i class="fas fa-check"></i> Your vote
                  </span>
                </label>
              </div>
            </ng-container>
    
            <!-- Single Choice Options -->
            <ng-container *ngIf="!poll.allowMultiple">
              <div
                *ngFor="let option of poll.options; trackBy: trackByOption"
                class="option"
              >
                <label>
                  <input
                    type="radio"
                    [name]="'poll_' + poll._id"
                    [(ngModel)]="poll.selectedOption"
                    [value]="option.id"
                    [disabled]="poll.userVoted"
                  />
                  <span class="custom-control"></span>
                  <span class="option-text">{{ option.optionText }}</span>
                  <span *ngIf="poll.userVoted && poll.selectedOption === option.id" class="selected-indicator">
                    <i class="fas fa-check"></i> Your vote
                  </span>
                </label>
              </div>
            </ng-container>
    
            <div class="card-footer">
              <div class="votes">
                <i class="fas fa-chart-pie"></i>
                <span>{{ poll.totalVotes }} votes</span>
              </div>
              <button 
                class="submit-btn" 
                (click)="vote(poll)"
                [disabled]="poll.userVoted"
              >
                <i class="fas fa-paper-plane"></i>
                <span>{{ poll.userVoted ? 'Already Voted' : 'Cast Vote' }}</span>
              </button>
            </div>
          </div>
        </ng-container>
      
      <button
        class="nav-btn next"
        (click)="nextPage()"
        [disabled]="currentPage === totalPages"
      >
        <i class="fas fa-chevron-right"></i>
      </button>
    </div>
  </div>
</div>